.carousel-item {
    height: 800px; }
  
  .carousel-image-1 {
    background: url("images/ENG2-e1338361532138.jpg");
    background-size: cover; }
  
  .carousel-image-2 {
    background: url("images/fade-b1-1024x526.jpg");
    background-size: cover; }
  
  .carousel-image-3 {
    background: url("images/mimaki2.jpg");
    background-size: cover; }

.about{
  width: 500px;
}