

.carousel-item {
    height: 600px; }
  
  .carousel-image-1 {
    background: url("images/ENG2-e1338361532138.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;}
  
  .carousel-image-2 {
    background: url("images/fade-b1-1024x526.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;}
  
  .carousel-image-3 {
    background: url("images/mimaki2.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;}

.about{
  width: 500px;
}

.caption-style {
  border-radius: 2em;
  background-color: rgb(12, 37, 37);
  opacity: 0.8;
}

#nav-brand {
  border-radius: 2em;
}

.jumbotron {
  padding: 0rem 0rem;
}

.fa{
  font-size: 55px;
}

#container {
  /* background-color: #003049; */
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}

#container div {
  max-width: 400px;
  max-height: 400px;
  /* max-width: 300px; */
  text-align:center;
  flex-basis: 600px;
}
